#heatmap-container {
    border: 1px solid black;
    background-image: url('../assets/image-overlay.png');
}

.flex-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mt-1 {
    margin-top: 1rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    /* Cor cinza com opacidade */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Certifique-se de que a sobreposição esteja acima de outros elementos */
}

mat-spinner {
    position: absolute;
}