<div *ngIf="isLoading" class="overlay">
  <mat-spinner></mat-spinner>
</div>
<span class="flex-box">
  <canvas id="heatmap-container" width="704" height="480"></canvas>
  <mat-form-field appearance="fill" class="mt-1">
    <mat-label>Selecione um objeto</mat-label>
    <mat-select [(value)]="selectedObject" (selectionChange)="onObjectSelect($event)">
      <mat-option *ngFor="let object of allObjects" [value]="object">
        {{ object }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</span>